.body-bg {
	width: 100%;
	height: 100%;
	background-image: url(img/near_background.png);
	background-size: 100%;
}
.header {
	width: 100%;
	height: 44px;
	background-color: #F5F5F5;
	position: relative;
}
.left-bar {
	width: 40px;
	height: 44px;
	background-image: url(img/header_back.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.middle-title {
	position: absolute;
	height: 44px;
	line-height: 44px;
	left: 40%;
	top: 0px;
	color: #D52722;
}
.right-bar {
	position: absolute;
	right: 10px;
	height: 44px;
	color: #D52722;
	top: 0px;
	line-height: 44px;
	font-size: 15px;
}
.signee-name {
	border: none;
	background-color: #00000000;
	-webkit-appearance: none;
	width: 9.375em;
}
.sign-name-msg {
	width: 100%;
	height: 55px;
	line-height: 55px;
	color: #9B9B9B;
	background-color: #fff;
	padding-left: 15px;
}
.white-border {
	border: 1px solid;
	border-color: #9B9B9B;
}
.line {
	width: auto;
	margin-left: 15px;
	margin-right: 15px;
	height: 1px;
	background-color: #eee;
}
.can-signee-time {
	width: 200px;
	height: 55px;
	display: inline-block;
	color: #000;
	font-size: 15px;
	text-align: center;
}
.white-bg {
	background-color: #fff;
}
.divide-line {
	background: #ccc;
	width: 100%;
	height: 1px;
}
.detial-city {
	width: 100%;
	height: auto;
	margin-top: 15px;
}
.big-white-line {
	width: 100%;
	height: 15px;
	background-color: #fff;
}
.selet-province {
	display: inline-block;
	width: 200px;
	font-size: 14px;
	line-height: 20px;
	-webkit-appearance: none;
}
/*.selet-province option{
	-webkit-font-size: 15px;
	font-size: 20px;
	line-height: 20px;
	
}*/
.showdialog-style{
	height: 200px;
	text-align: center;
	margin-right: 50px;
}
.concreteAddress{
	width: 100%;
	height: 70px;
	background-color: #fff;
	line-height: 70px;
	color: #9B9B9B;
	padding-left: 15px;
}
.concreteAddress-write{
	width: 60%;
	height: 70px;
	line-height: 20px;
	background: none;
	border: none;
	
}
.select-defult-address{
	width: 100%;
	height: 45px;
	background-color: #fff;
	line-height: 45px;
	padding-left: 15px;
	color: #9B9B9B;
   
}
.defult-image-select1{
	width: 30px;
	height: 30px;
	background-image: url(img/rb_checked.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	float: left;
	margin-top: 5px;
	margin-left: 20px;
}
.defult-image-select2{
	width: 30px;
	height: 30px;
	background-image: url(img/rb_unchecked.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	float: left;
	margin-top: 5px;
	margin-left: 20px;
}

.select-defult-address-name{
  float: left;  
}
input {
-webkit-user-select: auto !important;
}




