.body-bg {
	background-image: url(img/near_background.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.me-all-header2{
	width: 100%;
	height: 2.75em;
	background-color: #F5F5F5;
	position: relative;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	
	
}
.me-header-left {
	width: 2.5em;
	height: 2.5em;
	margin-left: 10px;
	background-image: url(img/header_back.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.me-header-title {
	position: absolute;
	width: auto;
	height: 100%;
	left: 40%;
	top: 0px;
	line-height: 2.75em;
	color: #D52722;
}
.divide-line-without-margin {
	width: 100%;
	height: 1px;
	background-color: #EEEEEE;
}
.change-password-content{
   width:100%;
   height: auto;
   position: absolute;
   left: 0px;
   right: 0px;
   top: 2.75em;
   margin-top: 0.5em;
   background-color: #fff;
}
.change-password-text{
	width: 100%;
	height: 2.5em;
	line-height: 2.5em;
	color: #D52722;
	padding-left: 1em;

}
.input-new-password{
	width: 100%;
	height: 2.5em;
	border: none;
	padding-left: 2em;
}
.divide-line-without-margin2{
	width: 100%;
	height: 2px;
	background-color: #EEEEEE;
}
.get-yanzhenma{
	width: 100%;
	height: 2em;
	display: inline-block;
	font-size: 0.75em;

}
.get-yanzhenma-button{
	width: 40%;
	height: 1.5em;
	text-align: center;
	float: right;
	background: #EAEAEA;
	border-radius: 3px;
	margin-right: 1em;
	margin-top: 0.5em;
	font-size: 0.75em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	
}
.get-yanzhenma-text{
	width: auto;
	height: 2.5em;
	line-height: 3em;
	font-size: 0.75em;
	float: left;
	padding-left: 1em;
}
.post-password{
	width: 70%;
	height: 2.5em;
	text-align: center;
	line-height: 2.5em;
	margin-left: 15%;
	background-color: #D74B28;
	border-radius: 3px;
	color: #fff;
	margin-top: 75%;
}
.input-yanzhengma{
	width: 30%;
	height: 100%;
	float: left;
	border: none;
}
