.body-ind{
    width: 100%;
    height: 100%;
    background-color: #D52722;
  
    
	
}
.buttom-show{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 45px;
	table-layout:fixed;
	background-color: #F5F5F5;
	z-index: 900;
	/*background-color: #007AFF;*/
}
.bottom-item{
	width: 100%;
	height: 100%;
	
}
.bottom-item-img{
	
	margin: auto;
	margin-top: 5px;
	width: 30px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: 100%;
}
 .img0{
 	margin: auto;
	margin-top: 5px;
	width: 30px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: 100%;
 	background-image: url(img/tab_sale_on.png);
 }
 .img02{
 	margin: auto;
	margin-top: 5px;
	width: 30px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: 100%;
 	background-image: url(img/tab_sale_off.png);
 }
 .img12{
 	background-image: url(img/tab_nearby_off.png);
 	margin: auto;
	margin-top: 5px;
	width: 30px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: 100%;
 }
 .img1{
 	background-image: url(img/tab_nearby_on.png);
 	margin: auto;
	margin-top: 5px;
	width: 30px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: 100%;
 }
 .img2{
 	margin: auto;
	margin-top: 5px;
	width: 30px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: 100%;
 	background-image: url(img/tab_activities_on.png);
 }
  .img22{
 	margin: auto;
	margin-top: 5px;
	width: 30px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: 100%;
 	background-image: url(img/tab_activities_off.png);
 }
 .img32{
 	margin: auto;
	margin-top: 5px;
	width: 30px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: 100%;
 	background-image: url(img/tab_me_off.png);
 }
.img3{
 	margin: auto;
	margin-top: 5px;
	width: 30px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: 100%;
 	background-image: url(img/tab_me_on.png);
 }
 .text-not-select{
 	color: #777777;
 	font-size: 12px;
 	text-align: center;
 }

.bootom-item-text{
	font-size: 12px;
	color: #D74B28;
	text-align: center;
}
.viewpager-main{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 45px;
	margin-bottom: 50px;
}
.sild-group-main{
	width: 100%;
	height: 100%;
}
.iframe-show{
	width: 100%;
	height: 100%;
	
}
/* 中团超市分类部分代码*/
.category-header{
	width:100%;
	height: 44px;
	background: #F5F5F5;
	position:  relative;
	
}
.category-text{
   position:absolute;
  left: 45%;
   top: 0px;
   height: 44px;
   width: auto;
   line-height: 44px;
   color: #D52722;
}
.category-concreate{
	width: 100%;
	height: 100%;
    background-size: 100%;
	background-image: url(img/near_background.png);
	
}
.left-menu{
	display: inline-block;
	width: 25%;
	height: 100%;
	/*margin-: 46px;*/
	padding-bottom: 46px;
}
.right-catagory{
	display: inline-block;
	width: 73%;
	height: 100%;
	background-color: #4CD964;
}
.category-left-menu-item{
	width: 100%;
	height: 2.5em;
	background-color: #fff;
	text-align: center;
	line-height: 2.5em;
	font-size: 0.9375em;
	margin-bottom: 2px;
   float: left;	
}
.category-left-menu-item2{
	width: 100%;
	height: 2.5em;
	background-color: #00000000;
	background-image: url(img/catagory_select.png);
	background-repeat: no-repeat;
	text-align: center;
	line-height: 2.5em;
	font-size: 0.9375em;
	margin-bottom: 2px;
   float: left;
}
.right-cat-item{
	float: left;
	width: 30%;
	height: auto;
	margin-right: 1.5%;
    background-color: #0062CC;
    margin-bottom: 5px;
}
.right-catgory-img{
	width: 100%;
	height: auto;
    background-color: #D52722;
}
.right-catgory-text{
	width: 100%;
	height: 1.125em;
	line-height: 1em;
	text-align: center;
	font-size: 0.875em;
}
.shop-cart-delete-order{
	position: absolute;
	top: 0px;
	right: 10px;
	line-height: 44px;
	color: #D52722;
}
.shop-cart-content-without-order{
	width: 100%;
	height: 100%;
   position: relative;
   background-image: url(img/near_background.png);
   background-size: 100%;
  
   
}
.middle_content{
	position:absolute;
	width: 100%;
	height: 200px;
	top:30%;
	}
.shopcart-img{
	position: absolute;
	width: 3.125em;
	height: 3.75em;
	left: 40%;
	top: 0px;
	background-image: url(img/shop_cart_package.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.shopcart-text-no-production{
	position: absolute;
	top: 5em;
	width: 100%;
	height: 1.875em;
	line-height: 1.875em;
	text-align: center;
}
.continue-shopping{
	position: absolute;
	width:12.5em;
	height: 2.8125em;
	line-height: 2.8125em;
	text-align: center;
    top:8.125em;
    left: 22%;
    background-image: url(img/go_shopping_unpress.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.me-header-left{
	width: 2.1875em;
	height: 2.1875em;
	position: absolute;
	left: 10px;
	top: 0.3125em;
	background-image: url(img/me_left_setting.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.me-header-right{
	width: 2.5em;
	height: 2.5em;
	position: absolute;
    right: 10px;
    top:0.3125em;
    background-image: url(img/me_right_setting.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.me-main-content{
	width: 100%;
	height: 100%;
	background-image: url(img/near_background.png);
    background-size:100% ;	
    padding-bottom: 46px;

}
.top-user-msg-bg{
	width: 100%;
	height: 12.5em;
	background-image: url(img/me_msg_bg.png);
	background-size: 100%;
	position: relative;
}
.img-buttom-show{
	width: 100%;
	height: 2.8125em;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	
}
.user-three-item{
	width: 33%;
	height: 2.8125em;
	display: inline;
	background-color: #0062CC;
}
