.bady-background {
	background-image: url(img/near_background.png);
	position: relative;
	width: 100%;
}
.bottom-buy {
	width: 100%;
	height: 45px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: #eaeaea;
	text-align: center;
}
.buy-at-once {
	width: 7.8125em;
	height: 40px;
	background-image: url(img/buyatonce_press.png);
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
	margin-top: 4px;
	margin-left: 10px;
}
.add-to-factory {
	width: 7.8125em;
	height: 40px;
	display: inline-block;
	background-image: url(img/addtofactory_un.png);
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
	margin-top: 4px;
	margin-left: 10px;
}
.shopcart-img {
	width: 2.0em;
	height: 40px;
	background-image: url(img/tab_activities_on.png);
	background-repeat: no-repeat;
	background-size: 100%;
	float: right;
	margin-top: 4px;
}
.buy-at-once-left-img {
	width: 25px;
	height: 25px;
	float: left;
	background-image: url(img/buyatonce_left.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 6px;
	margin-left: 20px;
}
.buy-at-once-left-text {
	width: auto;
	height: 40px;
	font-size: 13px;
	color: #fff;
	line-height: 40px;
}
.add-to-factory-img {
	width: 25px;
	height: 25px;
	float: left;
	background-image: url(img/addtofactory_left.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 6px;
	margin-left: 20px;
}
.product-img-show {
	height: 300px;
	background-color: #007AFF;
	position: relative;
}
.product-img-show-inner {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
}
.back-buttom {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 20px;
	left: 20px;
	background-image: url("img/product_detail_return.png");
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 999;
}
.product-price {
	width: auto;
	height: 70px;
	float: left;
	position: relative;
	background-color: #fff;
}
.before-price {
	font-size: 15px;
	width: 200px;
	height: 40px;
	line-height: 40px;
	color: #9b9b9b;
}
.now-price {
	font-size: 15px;
	width: 200px;
	height: 40px;
}
.right-share {
	background-color: white;
	width: auto;
	height: 70px;
	float: right;
	margin-right: 40px;
}
.white-bg {
	position: relative;
	width: 100%;
	height: 70px;
	background-color: #fff;
	padding-left: 10px;
}
.share-img {
	width: 55px;
	height: 55px;
}
.product-name {
	width: 100%;
	height: 45px;
	line-height: 20px;
	background-color: #fff;
	padding-left: 10px;
	overflow: hidden;
	font-size: 15px;
	text-overflow: ellipsis;
	
	
}
.product-paramters{
	width: 100%;
	height: 45px;
	background: #fff;
	border: 1px solid ;
	border-color: #eaeaea;
	padding-left: 10px;
	position: relative;
	
}
.product-paramters2{
	width: 100%;
	height: auto;
	border: 1px solid ;
	border-color: #eaeaea;
	padding-left: 10px;
	line-height: 45px;
	background-color: #fff;
	padding-bottom: 5px;
	position: relative;
	padding-left: 10px;
	
	
}
.margin-top{
	margin-top: 10px;
}
.paramter-text{
	width: auto;
	height: 100%;
	line-height: 45px;
	float: left;
}
.paramter-text-tu{
	width: auto;
	height: 100%;
	float: left;
	padding-top: 10px;
}
.paramter-img{
	width: 10px;
	height: 30px;
	z-index: 100;
	float:right;
	background-image: url("img/brand_more.png");
	background-size:100%;
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-right: 23px;
	
}
.paramter-img2{
	width: 10px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 20px;
	background-image: url("img/brand_more.png");
	background-size:100%;
	background-repeat: no-repeat;
	
	
}
.paramter-left-img{
	width: 15px;
	height: 15px;
	float: left;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 25px;
	margin-right: 10px;
	margin-left: 7px;
	
}
.paramter-left-img-tu{
	width: 15px;
	height: 15px;
	float: left;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-right: 10px;
}
/*.paramter-left-img-tu{
	width: 15px;
	height: auto;
	float: left;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-right: 10px;
}*/
.photo-word-detail{
	background-image: url(img/photo_word_detial.png);
}
.photo-product-paramter{
	background-image: url(img/product_canshu.png);
}
.photo-product-evlute{
	background-image: url(img/product_evalute.png);
}
.nopadding{
	padding: 0;
	margin-right: 0;
}

.folder-inner{
	width: 540px;
	height: auto;
	position: relative;
	margin-top: 10px;
}
.wh-li{
	width: 100%;
	height: inherit;
}
.a-height{
	width: 100%;
	height: auto;
	padding-top: 20px;
	margin-top: 20px;
	display:block;
	background-color:#fff;

}
.show-content{
	width: inherit;
	height: auto;
	background-color: #007AFF;
	list-style-type:none;
	margin-right: -17px;
}
.margin-left{
	margin-left: 15px;
}
.product-size{
	width: auto;
	height: auto;
	border: 1px solid #9B9B9B;
	border-radius: 3px;
	padding-left: 11px;
}
