.body-bg {
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #EEEEEE;
	padding-left: 1em;
	padding-right: 1em;
}
.me-all-header {
	width: 100%;
	height: 2.75em;
	background-color: #F5F5F5;
	position: absolute;
	left: 0px;
	right: 0px;
	top:0px
	
}
.me-header-left {
	width: 2.5em;
	height: 2.5em;
	margin-left: 10px;
	background-image: url(img/header_back.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.me-header-title {
	position: absolute;
	width: auto;
	height: 100%;
	left: 40%;
	top: 0px;
	line-height: 2.75em;
	color: #D52722;
}
.usercount{
	width: 80%;
	height: 2.75em;
	margin-top: 3.5em;
   line-height: 2.75;
   font-size: 0.8125em;
}
.input-count{
	margin-left: 1em;
	border-style: none;
	background-color: #eee;
}
.red-divide-line{
	width: 100%;
	height: 2px;
	background-color: #D52722
}
.getyzm{
	float: right;
    color: #D52722;
}
.next-step{
	width: 100%;
	height: 2.5em;
	background-color: #D52722;
	color: #fff;
	text-align: center;
	line-height: 2.5em;
	margin-top: 2.5em;
}
.devide-line{
	width: 100%;
	height: 1px;
	background-color: #9B9B9B;
}
